version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: EasyBi-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4
    container_name: EasyBi-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "5050:80"
    depends_on:
      - postgres
    restart: unless-stopped

  # app:
  #   build: .
  #   container_name: nextjs-financial
  #   ports:
  #     - "3000:3000"
  #   environment:
  #     DATABASE_URL: ${DATABASE_URL}
  #   depends_on:
  #     - postgres
  #   restart: unless-stopped

volumes:
  postgres_data:
    name: postgres_financial_data
