
.integrações {
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    /* min-width: 100%; */
    margin: 0px 50px 10px 50px;
}

.integração {
    border: 2px solid green;
    width: 320px;
    height: 150px;
    margin: 10px 20px 10px 50px;
}

.integração-nav {
    display: flex;
    /* border: 2px solid green; */
    margin: 10px 50px 0px 50px;
    height: 75px;
}

.integração-criar-btn {
    background: black;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    border: 2px solid black;
    width: 200px;
    height: 60px;
    margin: 5px 0px 10px 77px;
    padding: 10px;
}

.integração-search {
    /* border: 2px solid black; */
    position: relative;
    left: 65%;
    margin: 10px 0px 10px -60px;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
}

.integração-input-search {
    height: 25px;
    padding: 5px;
}

.integração-search-btn {
    width: 50px;
    height: 25px;
    background: black;
    cursor: pointer;
}
