* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background: linear-gradient(135deg, #afafaf 0%, #ffffff 100%);
    color: #000000;
    overflow-x: hidden;
}

#container {
    display: flex;
    min-height: 100vh;
}

#navbar {
    border: 1px solid black;
    min-height: 100vh;
    min-width: 20vh;
}

#logo {
    margin: 20px;
}

#navbuttons {
    font-size: 20px;
}

.integrações {
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    /* min-width: 100%; */
    margin: 0px 50px 10px 50px;
}

.integração {
    border: 2px solid green;
    width: 320px;
    height: 150px;
    margin: 10px 20px 10px 50px;
}

.integração-nav {
    display: flex;
    border: 2px solid green;
    margin: 10px 50px 0px 50px;
    height: 75px;
}

.integração-btn {
    border: 2px solid black;
    width: 200px;
    height: 50px;
    margin: 10px 0px 10px 77px;
    padding: 10px;
}

.integração-search {
    border: 2px solid black;
    width: 200px;
    height: 50px;
    position: relative;
    left: 65%;
    margin: 10px 0px 10px 0px;
    padding: 10px;
}

.button {
    cursor: pointer;
    padding: 25px;
}

.button:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

.button.active {
    background: linear-gradient(135deg, rgba(50, 50, 50, 1) 0%, rgba(100, 100, 100, 0.5) 100%);
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
